<div class="flex flex-col items-center justify-center min-h-screen mario-bg">
  <div style="width: 50%;">
    <h2 class="text-4xl font-bold text-white mb-6">
        <span class=" p-2 rounded drop-shadow-[0_1.5px_1.2px_rgba(0,0,0,0.8)] text-white">
          Mario's Weather Dashboard
        </span>
      </h2>    
    <div class="mb-4">
      <label for="countrySelect" class=" p-2 rounded drop-shadow-[0_1.5px_1.2px_rgba(0,0,0,0.8)] text-white">Select Country:</label>
      <select id="countrySelect" class="bg-white rounded-lg p-2" (change)="onCountrySelect($event)">
        <option value="India" selected>India</option>
        <option value="usa">USA</option>
        <option value="uk">UK</option>
        <option value="japan">Japan</option>
      </select>
    </div>
    
    <ul class="bg-white rounded-lg shadow-md p-4 w-2/3">
      <li class="text-lg text-gray-700 mb-2 flex justify-between items-center">
        <span class="text-black-600 mr-2">🍄  <b>{{ selectedCountry }}:</b> {{ temperature || 'Loading...' }} °C</span>
      
        <div class="text-black-600 flex items-center">
          <!-- <b>Dangerous Percentage:</b>
          <span class="ml-2">{{ dangerousPerc || 'Loading...' }}%</span> -->
          <a href="#" (click)="checkDangerousQuality($event)" class="text-blue-500 hover:text-blue-700 focus:text-blue-700 focus:outline-none">Check Dangerous Quality</a>
        </div>
      </li>
    </ul>
    </div>
  </div>